@model IEnumerable<final_project.Models.orders>
@{
    Layout = "_Layoutadmin";
    ViewData["Title"] = "Purchase report page";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.custname</td>
                <td>@item.total</td>
                <td>
                    <a asp-action="Detail" asp-route-custname="@item.custname">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>

