@model final_project.Models.usersaccounts

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>usersaccounts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Username</label>
                <input name="na" class="form-control"/>
            </div>
            <div class="form-group">
               

                <label>User Password</label>
                <input name="pa" class="form-control" type="password"/>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input name="confpass" type="password" class="form-control" autocomplete="off" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

