@{
    
    ViewData["Title"] = "Email";
}

<h1>إرسال بريد إلكتروني</h1>

<form asp-action="SendEmail" method="post">
    <label for="Email">البريد الإلكتروني للعميل</label>
    <input type="email" id="Email" name="Email" placeholder="أدخل البريد الإلكتروني" required />

    <label for="Message">الرسالة</label>
    <textarea id="Message" name="Message" required></textarea>

    <button type="submit">إرسال</button>
</form>
